{% extends 'blog/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
 <section class="container max-w-4xl mx-auto  ">
        <div class="relative ">
            {% load static %}
            <img src="{% static '/image/header.jpg' %}" alt="header image" class="object-center object-cover opacity-60 ">
            <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full text-3xl text-center overflow-hidden ">
                <div class="h-full flex items-center justify-center flex-col">
                    <p class="sm:text-6xl text-4xl text-slate-800  font-bold">Welcome to <span class="text-indigo-500 ">DjangoBlog</span> </p>
                    <p class="text-2xl font-medium text-slate-800 ">Exploring Ideas, Insights, and Inspiration....</p>
                </div>
               
            </div>
            
        </div>
 </section>
 <div class="max-w-4xl mx-auto flex justify-start items-center m-2 flex-col w-full">
    <h2 class="text-3xl font-semibold">Recent Blogs</h2>
 <hr class="border-t border-gray-500 my-4 w-20">
 </div>
  <div class="max-w-4xl mx-auto grid grid-rows-1 sm:grid-cols-3 gap-3 px-6 py-12 bg-gray-100">
    {% if posts %}
    {% for post in posts %}  
 <div class="max-w-sm  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <a href="{{post.get_absolute_url}}">
         {% if post.image %}
         <img class="rounded-t-lg h-64 w-full sm:w-96 object-cover object-center" src="{{post.image.url }}" alt="{{post.title}}" />
         {% endif %}
     </a>
     <div class="p-5">
         <a href="{{post.get_absolute_url}}">
      <h5 class="mb-2 text-2xl  font-bold tracking-tight text-gray-900 dark:text-white"> {{post.title}}</h5>
         </a>
         <p class="mb-3 font-normal text-gray-700 line-clamp-2 dark:text-gray-400"> {{post.content}}</p>
         <a href="{{post.get_absolute_url}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
             Read more
              <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
             </svg>
         </a>
     </div>
 </div>
   {% endfor %}
   {% endif %}
  </div>
  
{% endblock %}