{% extends 'blog/base.html' %}

{% block title %} {{post.title}} {% endblock %}


{% block content %}
<div class="max-w-4xl mx-auto py-12 px-6  shadow">
    <div class="p-6">
        <h2 class="text-4xl font-semibold">{{post.title}}</h2>
        <hr class="border-t border-gray-300 my-4 w-1/4">
        <p>published by <span class="font-medium">{{post.author|title}}</span> on <span class="font-medium">{{post.published_at | date:"M d, Y"}}</span></p>

        {% if post.image %}
        <img src="{{post.image.url}}" alt="{{post.title}}" class="object-center object-cover h-80 w-full rounded-xl ">
        {% endif  %}
        <p class="first-letter:text-6xl first-letter:font-bold text-lg block">{{post.content}}</p>
        <div class="flex justify-between items-center flex-col sm:flex-row">
            <a href="{% url 'blog:home' %}" class=" my-4 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-white m-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                  </svg>
                Go back
                 
            </a>
           <div class="">
            {% if request.user == post.author %}
            <a href="{% url 'blog:update' post.pk  %}" class="my-4 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-500 rounded-lg hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Update</a>
            <a href="{% url 'blog:delete' post.pk  %}" class="my-4 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Delete</a>
            {% endif %}
           </div>
        </div>
    </div>
    <div class="max-w-xl mx-auto bg-white rounded-lg shadow-2xl p-8">
        {% with comments.count as total_comments %}
        <h3 class="text-gray-500 font-medium">{{total_comments}} comment{{total_comments|pluralize}}</h3>
        {% endwith %}
        <hr class="border border-gray-600 w-full mx-auto">
        {% for comment in comments %}
        <div class="bg-gray-100 rounded-lg shadow px-6 py-4 w-full m-4">
            <p class="text-sm">Comment {{forloop.counter}} by {{comment.name}} {{comment.created}}</p>
            <p class="text-xl text-gray-600 font-light">
                {{comment.body|linebreaks}}
            </p>
        </div>
        {% empty %}
        <p class="text-3xl text-gray-600 font-semibold">There are no comments.</p>
        {% endfor %}
        {% include 'blog/comment_form.html' %}
    </div>
    
</div>

{% endblock %}